* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color: #FFF;
  --background-color: #000;
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

ul {
  list-style: none;
}

a {
  color: var(--color);
  text-decoration: none;
}
